img {
    max-width: 200px;
    min-width: 100px;
    width: 45vw;
}

.menu {
    float: left;
    position: relative;
    width: 30%;
    margin-left: 3%;
    margin-bottom: 3vh;
    text-align: center;
}

.menu-home {
    float: left;
    position: relative;
    width: 30%;
    margin-left: 3%;
    text-align: center;
    height: 2.5vh;
    text-decoration: none;
    color: #212529;
}

.menu > h6 {
    margin: 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 2.5vh;
}

.menu-home > h6 {
    margin: 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 2.5vh;
}

.menu > h6 > a {
    margin: 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 2.5vh;
    color: #212529;
    text-decoration: none;
}

.menu-home > h6 > a {
    margin: 1vh;
    padding-top: 3vh;
    padding-bottom: 3vh;
    font-size: 2.5vh;
    color: #212529;
    text-decoration: none;
}

.menu > h6 > a:hover {
    color: #ff8427;
}

.menu-home > h6 > a:hover {
    color: #ff8427;
}

.section-menu {
    width: 60%;
    position: relative;
    top: 0;
    margin-right: 20%;
    margin-left: 20%;
}

.section-menu-home {
    width: 60%;
    position: fixed;
    top: 0;
    margin-right: 20%;
    margin-left: 20%;
}

.page-signature {
    width: 60%;
    margin: auto;
    background-color: #ff8427;
    height: 4px;
    border-radius: 100px;
}


.icon {
    text-decoration: none;
}

.icon:hover > i {
    color: #ff8427;
}

h6 > a {
    font-size: 3vh;
}

h6 > a > i {
    font-size: 4vh;
    margin-top: 1vh;
}

.contact-me-title {
    font-size: 5vh;
}


.page-container {
    margin-top: 22vh;
    margin-bottom: 10vh;
}

.page-content {
    width: 80%;
    margin-left: 10%;
}

.page-content > p {
    font-size: 3vh;
}

.page-content > h4 {
    font-size: 4vh;
}

.page-content > h6 {
    font-size: 2.5vh;
}


.project {
    width: 100%;
}

.project > div > img {
    width: 15vh;
    margin-right: 5%;
    margin-left: 10%;
    float: left;
    max-width: 175px;
}

.project-text {
    width: 80%;
    margin-left: 10%;
    font-size: 2.5vh;
}

.project-text > a > h4 {
    font-size: 3vh;
}

.hover-color {
    font-size: 2.5vh;
}

.hover-color:hover {
    color: #ff8427;
}

.orange {}
.orange:hover {
    color: #ff8427;
}